html, body {
	height: 100%;
	width: 100%;
	font-family: verdana;
}
body{
	background: url(../image/bici.jpg) no-repeat;
	background-size: 100%;
	background-size: cover;
}

.d-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

/*-------Formulario------*/
.content{
    width: 50%;
	background-color: rgba(42,42,42,0.7);
	padding: 2% 5%;
	text-align: center;
	color: white;
    border-radius: 5px;
}

.content h3{
    text-align: left;
    font-size: 1.5em;
}
.content textarea{
    width: 90%;
    border-radius: 5px;
    font-size: 1.2em;
    overflow: hidden;
    padding:0.6em;
    margin:0.3em auto;
    display:block;
    border:0.3em solid #556677; 
}

.btn {
    background-color: black;
    color: white;
    border: none;
    padding: 0.6em 3.75em;
    margin-top: 0.6em;  
    border-radius: 5px;
}

/*
.btn:hover{
    background-color: grey;
}*/

.contador {
    width: 3em;
    height: 1.2em;
    color: black;
    background-color: white;
    text-align: center;
    margin: auto;
}

.tweetDiv {
    width: 90%;
    background-color: white;
    color: black;
    border: none;
    margin: 0.5em auto;
    text-align: left;
    padding: 0.3em;
    font-size: 0.9em;
    border-radius: 5px;
}
.red{
    color: red;
}

.violet {
    color: mediumvioletred;
}

.turquesa {
    color: darkturquoise;
}

/*-----Responsive--------*/
@media (max-width: 1024px){
	body{
	font-size: 16px;
	}
}
@media (max-width: 982px){
	body{
	font-size: 14px;
	}
}
@media (max-width: 768px){
	body{
	font-size: 14px;
	}
}

@media (max-width: 640px){
	body{
	font-size: 12px;
	}
}
